.template-rss {
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100%;
  position: relative;
  background-color: var(--bg-light);
  font-size: var(--font-size-base);

  .progress {
    padding: 2%;
    font-size: 2em;
    color: var(--text-primary);
  }

  .progress-numbers {
    margin-left: 1em;
  }

  .title {
    font-size: 5em;
    padding: 1% 2%;
    color: var(--text-dark);
    line-height: 1.1;
  }

  .date {
    font-size: 2em;
    padding: 1% 2%;
    color: var(--text-primary);
  }

  .description {
    font-size: 3em;
    padding: 1% 2%;
    color: var(--text-dark);
    a,
    a:link,
    a:visited,
    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
      color: var(--text-dark);
    }
  }

  .feed-info--date,
  .feed-info--title,
  .feed-info--progress {
    font-size: 2em;
  }
}
