version: "3"

networks:
  frontend:
    external: true
  app:
    driver: bridge
    internal: false

services:
  nginx:
    image: nginx:latest
    networks:
      - app
      - frontend
    depends_on:
      - node
    ports:
      - '80'
    volumes:
      - ${PWD}/.docker/vhost.conf:/etc/nginx/conf.d/default.conf:ro
      - ./:/app:delegated
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=frontend"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}.rule=Host(`${COMPOSE_DOMAIN}`)"

  node:
    image: node:14
    command: yarn start
    # @TODO: Fix setup so the ws connection between browser and webpack-dev-server can be achieved without exposing port.
    # ports:
    #  - '3000:3000'
    networks:
      - app
    working_dir: /app
    volumes:
      - ./:/app

  cypress:
    image: cypress/included:12.7.0
    networks:
      - app
      - frontend
    depends_on:
      - nginx
    environment:
      - CYPRESS_VIDEO=false
      # - CYPRESS_baseUrl=http://nginx:8080/
    volumes:
      - .:/e2e
      - /tmp/.X11-unix:/tmp/.X11-unix
    working_dir: /e2e
    entrypoint: cypress