version: "3"

networks:
  frontend:
    external: true
  app:
    driver: bridge
    internal: false

services:
  nginx:
    image: nginx:latest
    networks:
      - app
      - frontend
    depends_on:
      - templates
    ports:
      - '80'
    volumes:
      - ${PWD}/.docker/vhost.conf:/etc/nginx/conf.d/default.conf:ro
      - ./:/app:delegated
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=frontend"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}.rule=Host(`${COMPOSE_DOMAIN}`)"

  templates:
    image: node:14
    command: npm start
    # @TODO: Fix setup so the ws connection between browser and webpack-dev-server can be achieved without exposing port.
    # ports:
    #  - '3000:3000'
    networks:
      - app
    working_dir: /app
    volumes:
      - ./:/app
