@use "../variables.scss";

/* Themable variables
   To be overridden from frontend.

  Default:
  --bg-light
  --text-dark
  --color-primary

  Dark:
  --bg-dark
  --text-light

*/

.contacts-template {
  /* Assign default colors to variables for easy light/dark mode switch */
  --background-color: var(--bg-light);
  --text-color: var(--text-dark);

  height: 100%;
  padding: 5%;

  background-color: var(--background-color);
  color: var(--text-color);

  h1 {
    position: relative;
    display: inline-block;
    padding-bottom: 5%;

    .separator {
      opacity: 0;
      position: absolute;
      height: 0.2em;
      width: 100%;
      transition: width 0.3s ease-out;
      animation: 0.7s normal 0.5s forwards 1 h1-underline ease-out;
      background-color: var(--color-primary);
    }
  }

  .contacts {
    display: flex;
    flex-wrap: wrap;
    .text-container {
      margin-left: 5%;
    }
    .contact {
      margin-bottom: 5%;
      flex: 0 0 33.333333%;
      display: flex;
      .image-area {
        background-size: cover;
        background-position: center center;
        width: 50%;
        height: 200px;
        background-image: url("./person.svg");
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    /* Change colors for use in darkmode */

    --background-color: var(--bg-dark);
    --text-color: var(--text-light);
  }
}
