.event-list-item {
  display: flex;
  margin-bottom: 1.5em;
  height: 30%;
  width: 100%;

  &__content {
    padding: 0.5em 2em;
    color: #000;
    background-color: #fff;
    overflow: hidden;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__date {
    font-size: 1.2em;
  }

  &__title {
    margin: 0 0 0.25em;
    font-size: 1.8em !important;
    font-family: "KBH", sans-serif;
    font-weight: 800;
  }

  &__sub-title {
    font-size: 1em;
  }

  &__host {
    margin-top: 0.75em;
    font-size: 1.25em;
    font-weight: 700;
  }
}

.event-list {
  color: #fff;
  display: flex;
  width: 100%;
  height: 100%;
  font-family: "KBH Tekst", sans-serif;
  padding: 6em 3em 6em 6em;

  &__logo {
    width: 10em;
    height: 10em;
    flex-shrink: 0;
    margin-left: 2em;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  img {
    width: 45%;
    height: 100%;
    object-fit: cover;
  }

  &__items {
    width: 100%;
  }

  font-size: calc(var(--width) * 0.01px);

  &.layout-vertical {
    font-size: calc(var(--height) * 0.012px);
    flex-direction: column;
    justify-content: space-between;
    padding: 3em;

    .event-list__logo {
      margin-bottom: 3em;
      margin-left: auto;
    }

    .event-list__items {
      height: 100%;
    }

    .event-list-item {
      height: 20%;
    }
  }
}
