/*
** Blixen theme css
*/

/* Import roboto slab font from google - Used with Blixen theme */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap");

#SLIDE_ID {
  /* Default variabels */
  --color-primary: #673ab7;
  --font-family-base: "Roboto Slab", serif;
  --background-color: var(--bg-dark);
  --text-color: var(--color-light);
  --padding-size-base: 60px;
  --margin-size-base: 60px;

  font-family: var(--font-family-base);
}

/* Customize calender single template styling */
#SLIDE_ID .calendar-single {
  --background-color: var(--color-primary);
  --text-color: var(--color-light);
  --font-size-base: 2rem;
  text-align: right;
}

#SLIDE_ID .calendar-single .title,
#SLIDE_ID .calendar-single .subtitle {
  font-size: 4rem;
  font-weight: 300;
}
#SLIDE_ID .calendar-single .subtitle {
  font-weight: 700;
  margin-bottom: 60px;
}

#SLIDE_ID .calendar-single .content-item {
  font-family: Arial, sans-serif;
  border-left: 0;
}
