/*
* Brnd Sportcenter Today theme file
*
* #SLIDE_ID should always encapsulate all your theme styling
* #SLIDE_ID will be replaced at runtime with the given slide execution id to make sure the theme styling
* only applies to the given slide.
*/

#SLIDE_ID .brnd-sportcenter-today {
  padding: 0;
}

#SLIDE_ID .brnd-sportcenter-today .header {
  background-size: contain;
}

#SLIDE_ID .brnd-sportcenter-today .title{
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight-light);
  text-transform: uppercase;
  padding: calc(var(--padding-size-base) * 0.7);
  color: white;
  background-color: var(--bg-dark);
  display: grid;
}

#SLIDE_ID .brnd-sportcenter-today .schedule {
  color: white;
  background-color: var(--bg-dark);
}

#SLIDE_ID .brnd-sportcenter-today .schedule-header {
  color: var(--color-red);
  font-size: var(--font-size-base);
}

#SLIDE_ID .brnd-sportcenter-today .schedule-header-item {
  padding: calc(var(--padding-size-base) * 0.7);
}

#SLIDE_ID .brnd-sportcenter-today .content-item {
  padding: calc(var(--padding-size-base) * 0.7);
}
