.table {
  padding-top: 2%;
  padding-left: 10%;

  .column {
    font-size: 2em;
    padding: 2% 0;
  }

  .header {
    font-size: 3em;
    padding: 2% 0;
  }

  .column-header {
    padding: 2% 0;
  }
}
