/**
 * KBH fonts shared by Event and Event List templates.
 * Font files are bundled via webpack file-loader into build/fonts/.
 */

/** KBH font definition */
@font-face {
  font-family: "KBH";
  src: url("./KBH/KBH-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "KBH";
  src: url("./KBH/KBH-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "KBH";
  src: url("./KBH/KBH-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "KBH";
  src: url("./KBH/KBH-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "KBH";
  src: url("./KBH/KBH-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "KBH";
  src: url("./KBH/KBH-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "KBH";
  src: url("./KBH/KBH-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "KBH";
  src: url("./KBH/KBH-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "KBH";
  src: url("./KBH/KBH-Demibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "KBH";
  src: url("./KBH/KBH-DemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "KBH";
  src: url("./KBH/KBH-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "KBH";
  src: url("./KBH/KBH-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "KBH";
  src: url("./KBH/KBH-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "KBH";
  src: url("./KBH/KBH-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

/** KBH Tekst font definition */
@font-face {
  font-family: "KBH Tekst";
  src: url("./KBH Tekst/KBHTekst.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "KBH Tekst";
  src: url("./KBH Tekst/KBHTekst-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "KBH Tekst";
  src: url("./KBH Tekst/KBHTekst-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "KBH Tekst";
  src: url("./KBH Tekst/KBHTekst-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
