.grid {
  --font: var(--font-family-base, Arial);
  color: #343433;
  font-family: var(--font);
  font-size: 1em;
  grid-template-rows: 50% 50%;
  grid-template-columns: 33% 66%;
  background-color: #f4f4ec;
  display: grid;
  height: 100%;
  grid-template-areas: "a b" "c d";

  .info-box {
    grid-area: a;
    grid-template-rows: 15% 1fr 20%;
    grid-template-columns: 33% 33% 33%;
    margin: 1em;
    display: grid;
    grid-template-areas: "a b c" "d e f" "g h i";

    .header {
      display: flex;
      align-items: center;
      font-size: 1.4em;
      grid-area: a / a / c / c;

      h1 {
        margin: 0;
      }
    }

    .text {
      grid-area: d / d / f / f;
      font-size: 1.5em;
    }

    @mixin boxes {
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: #e1ded7;
      .text {
        font-size: 1.1em;
      }
    }

    .distance {
      @include boxes;
      grid-area: g;
    }

    .time-fast {
      @include boxes;
      grid-area: h;
      background-color: #f4f4ec;
    }

    .time-moderat {
      @include boxes;
      grid-area: i;
    }

    &.grow {
      grid-area: a / a / h / h;
    }
  }
  .map {
    grid-area: c;
    background-size: cover;
    background-position: center center;
  }
  .iframe {
    border-left: 3px solid #e1ded7;
    grid-area: b / b / d / d;

    &.grow {
      grid-area: a / a / l / l;
    }
  }
}
