// Prefix selectors with .event to avoid clash with other templates.
.event .event-top {
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.event {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  font-family: "KBH Tekst", sans-serif;

  &__image {
    width: 60%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &.image-fit-contain {
        object-fit: contain;
      }
    }
  }

  &__host {
    font-size: 1.875em;
    font-weight: 700;
    margin: 0 0 0.5em;
  }

  &__logo {
    position: absolute;
    width: 10em;
    height: 10em;
    flex-shrink: 0;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &.logo-position-top-right &__logo {
    top: 3em;
    right: 3em;
  }

  &.logo-position-top-left &__logo {
    top: 3em;
    left: 3em;
  }

  &.logo-position-bottom-right &__logo {
    bottom: 3em;
    right: 3em;
  }

  &.logo-position-bottom-left &__logo {
    bottom: 3em;
    left: 3em;
  }

  font-size: calc(var(--width) * 0.01px);

  &.layout-vertical {
    font-size: calc(var(--height) * 0.012px);
    display: flex;
    flex-direction: column;
    padding: 5em;

    .event-top {
      display: flex;
      justify-content: space-between;

      &__image {
        width: calc(100% + 10em);
        margin-top: 2em;
        margin-left: -5em;
        margin-bottom: 2em;
        aspect-ratio: 9/16;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

          &.image-fit-contain {
            object-fit: contain;
          }
        }
      }
    }
  }

  &__date {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    gap: 0.2em;
  }
}

.event .event-details {
  &__title {
    margin-bottom: 0.25em;

    h1 {
      font-size: 4.5em;
      font-family: "KBH", sans-serif;
      font-weight: 700;
      margin: 0;
      word-break: break-word;
    }
  }

  &__sub-title h2 {
    font-size: 2.25em;
    font-weight: 400;
    margin: 0;
  }
}

.event .event-info {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  padding: 5em 3em;

  &__top {
    flex-shrink: 0;
  }

  .event-details {
    flex: 1;
    min-height: 0;
  }

  .event__date {
    flex-shrink: 0;
    margin-top: auto;
  }
}

.event .layout-horizontal {
  .event-info {
    padding: 3em;
  }
}
