.template-instagram-feed {
  --percentage-wide: 53%;
  --percentage-narrow: 47%;

  height: 100%;
  width: 100%;
  display: flex;
  background-color: var(--background-color);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  position: relative;
  overflow: hidden;

  .media-section {
    width: var(--percentage-wide);
    .image {
      height: 100%;
      background-size: cover;
      background-position: center center;
    }

    .image.media-contain {
      background-size: contain;
      background-repeat: no-repeat;
    }

    .video-container {
      width: auto;
      height: 100%;
      overflow: hidden;
    }

    video {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
    }

    video.media-contain {
      object-fit: contain;
    }
  }

  .author-section {
    width: var(--percentage-narrow);
    padding: 5%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);

    h1 {
      font-size: var(--h1-font-size);
      font-weight: var(--font-weight-bold);
      color: var(--text-color);
      display: inline;
      padding-right: var(--spacer);
    }

    .description {
      font-size: var(--font-size-xl);
      line-height: var(--line-height-base);
      color: var(--text-color);
      margin-top: var(--margin-size-base);
    }

    .date {
      font-size: var(--h4-font-size);
      line-height: var(--line-height-base);
      display: inline;
    }

    .tags {
      margin-top: var(--margin-size-base);
    }
  }

  .brand {
    display: flex;
    justify-content: center;
    justify-items: center;
    position: absolute;
    bottom: 2.5%;
    right: 0;
    width: var(--percentage-wide);
    color: var(--color-grey-900);

    .brand-icon {
      display: inline-block;
      width: 5%;
      margin-right: 1em;
      fill: currentColor;
    }

    .brand-tag {
      font-size: 2.5em;
      line-height: 1;
      padding-top: 0.15em;
      color: currentColor;
    }
  }

  .shape {
    position: absolute;
    bottom: -1px; // -1px to prevent small gap below shape and edge of screen
    right: 0;
    width: var(--percentage-wide);
    display: flex;

    svg {
      fill: var(--color-grey-100);
    }
  }

  @media (orientation: portrait) {
    flex-flow: column;

    .media-section {
      width: auto;
      height: var(--percentage-wide);
    }

    .author-section {
      width: auto;
      height: var(--percentage-wide);
    }

    .shape {
      width: 100%;
    }

    .brand {
      width: 100%;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
